@import 'bootstrap/dist/css/bootstrap';

#logo {
  color: #c3c6c9
}

#log {
  color: white;
  font-weight:bold
}

a profit {
  color: #c3c6c9;
  font-weight:bold;
}

.navbar {
  background-color: #09419c
}

.center {
  text-align: center;
  color: white
}

.list-table {
  padding-top: 45px !important;
}



.jumbotron {
  margin-top: 20px;
  background-image:asset-url('background.jpeg');
  background-size: cover;
  height: 500px;
}
